@import "tailwindcss";
@plugin "daisyui";  

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .row-center {
    @apply flex flex-row items-center;
  }
  .col-center {
    @apply flex flex-col items-center;
  }
}